@import "primevue/resources/themes/bootstrap4-light-purple/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "@/scss/_variables.scss";

:root {
    --primary-color: #ffd0d0;
}

body, #app {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#app {
    display: flex;
    flex-flow: column;
    // Background by https://css-pattern.com/ (highly recommend!)
    --s: 300px; /* control the size */
    --_g: #0000 52%,#fffefe /* first color */ 54% 57%,#0000 59%; 
    background: 
    radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
    #ffd0d0; /* second color */
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}